﻿@page "{id:int?}"
@model Sporeglow.Pages.Games.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Game.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Game.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Game.Developer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Game.Developer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Game.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Game.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Game.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Game.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Game.Platform)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Game.Platform)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Game.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Game.Price)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Game.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
