﻿@page "{id:int?}"
@model Sporeglow.Pages.Games.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Game</h4>
    <hr />
    <div>
        <a class="btn btn-info" asp-page="./Index">Back to List</a>
    </div>
    <dl class="dl-horizontal">
        <dt>
            Cover
        </dt>
        <dd>
            <img src="~/images/cover @Html.DisplayFor(model => model.Game.Shortname) front.png" height="300" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Game.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Game.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Game.Shortname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Game.Shortname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Game.Developer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Game.Developer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Game.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Game.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Game.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Game.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Game.Platform)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Game.Platform)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Game.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Game.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Game.BestDealLink)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Game.BestDealLink)
        </dd>
    </dl>
</div>
