﻿@page "{searchString?}"
@model Sporeglow.Pages.Games.IndexModel

@{
    ViewData["Title"] = "Games";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<form>
    Genre: <select asp-for="GameGenre" asp-items="Model.Genres" style="color:black">
        <option value="">Any</option>
    </select>
    Title: <input type="text" asp-for="SearchString" />
    <input type="submit" value="Search!" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Cover
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Developer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Platform)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Game) {
        <tr>
            <td>
                <img src="~/images/cover @item.Shortname front.png" height="100" alt="@item.Title cover art" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Developer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Platform)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a class="btn btn-info" href="@item.BestDealLink">Buy</a>
                <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.ID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
