﻿@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>Sporeglow is a site used for general guidance to gamers of all kinds! </p>
<p>Here you'll find news regarding all the platforms, the latest games and their best deals and bundles!</p>
