﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.jpg" alt="Halo Infinite" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                <a class="btn btn-default" href="https://www.halowaypoint.com/en-us/games/halo-infinite">
                    Halo™ Infinite
                </a>
                <p> THE MASTER CHIEF RETURNS
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.jpg" alt="World of Warcraft" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <a class="btn btn-default" href="https://worldofwarcraft.com/en-us/battle-for-azeroth">
                        World of Warcraft™: Battle for Azeroth™
                    </a>
                    <p> TIDES OF VENGEANCE HAS BEGUN
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.jpg" alt="Shadow of Mordor" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <a class="btn btn-default" href="https://store.steampowered.com/app/241930/Middleearth_Shadow_of_Mordor">
                        Middle-earth™: Shadow of Mordor™
                    </a>
                    <p> DISCOVER THE ORIGINS OF THE RINGS OF POWER
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2> E3 2019 is coming! </h2>
        <ul>
            <li> E3 2019 will take place on June 11-13, 2019. The world's greatest gaming event! </li>
            <li><a href="https://www.e3expo.com/register/"> Register for the E3 Expo! </a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2> PC </h2>
        <img src="~/images/pc icon.png" height="200" alt="PC's Icon" />
        <ul>
            <li><a href="https://store.steampowered.com/">Valve's Steam</a></li>
            <li><a href="https://www.origin.com/irl/en-us/store/">EA's Origin</a></li>
            <li><a href="https://uplay.ubisoft.com/en-GB/">Ubisoft's Uplay</a></li>
            <li><a href="https://www.blizzard.com/en-us/?ref=other">Blizzard's Battle.net</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>PlayStation</h2>
        <img src="~/images/playstation icon.png" height="200" alt="PlayStation's Icon" />
        <ul>
            <li><a href="https://www.playstation.com/en-us/">Sony's PlayStation</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Xbox</h2>
        <img src="~/images/xbox icon.png" height="200" alt="Xbox's Icon" />
        <ul>
            <li><a href="https://www.xbox.com/en-US/">Microsoft's Xbox</a></li>
        </ul>
    </div>
</div>
